ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #587b7f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
background-color: #111;
}

body{
    background-color: #f1fffa;
    padding: 40px
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
}
h2{
color: #212227;
font-weight: bold;
text-align: center;
}
.resultado{
    padding: 25px;
    color: white
}
.box{
    width: 100%;
    height: 80px;
    background-color: #587b7f;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.btn{
    color: white;
    background-color: #587b7f;
    cursor: pointer;
}
.btn:hover{
    background-color: #212227;
}